<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cookie Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" hef="/view/index.css">
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Welcome!</h1>
        <h2 id='user'>#name#</h2>
    </div>


    <div class="main-container container" style="margin-bottom: 100px;">
        <div class="col-md-12">
            <div class = "btn_area">

            </div>
            <div id="context">

            </div>
            <div id="youtube_context" style="margin-top: 30px;" class="embed-responsive embed-responsive-16by9">

            </div>
        </div>
    </div>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--추후 indexfunc.js 로 변경해야 함. gitpod 링크 문제로 임시조치-->
    <script type="text/javascript" src="/clnt.js" defer></script>
    

</body>


</html>